<%= form_for @course_subject, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :course_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :course_id, Course.all, :id, :name, multiple: true, :prompt => "Please Select" %>
      </div>
    </div>
    <div class="control-group">
    <%= f.label :subject_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select :subject_id, Subject.all, :id, :name, multiple: true, :prompt => "Please Select" %>
    </div>
    </div>
    <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                course_subjects_path, :class => 'btn' %>
    </div>
<% end %>
